
<header>
<h2>ウマ好み</h2>
</header>
<div class="test">
  1〜1200の数値を入力してください
</div>
<div class="test">
  総合ランク
</div>
<div class="test">
  A
</div>

<div class="stutus">
  <div class="speed">
    <p>スピード</P>
    <input type="number" id="num1"> 
  </div>
  <div class="stamina">
    <P>スタミナ</p>
    <input type="number" id="num2">
  </div>
  <div class="power">
    <P>パワー</P> 
    <input type="number" id="num3"> 
  </div>
  <div class="guts">
    <P>根性</p>
    <input type="number" id="num4"> 
  </div>
  <div class="wice">
    <p>賢さ</p>
    <input type="number" id="num5"> 
  </div>

  <div class="skill">
    <p>固有スキル</p>
      <select>
        <option>スキルを選択してください</option>
          <optgroup label="展開">
        <option>全身全霊</option>
        <option>円弧のマエストロ</option>
      </select>
  </div>

  <div class="skill">
    <p>序盤スキル</p>
      <select>
        <option>スキルを選択してください</option>
          <optgroup label="展開">
        <option>全身全霊</option>
        <option>円弧のマエストロ</option>
      </select>
  </div>

  <div class="skill">
    <p>中盤スキル</p>
      <select>
        <option>スキルを選択してください</option>
          <optgroup label="展開">
        <option>全身全霊</option>
        <option>円弧のマエストロ</option>
      </select>
  </div>

  <div class="skill">
    <p>展開スキル</p>
      <select>
        <option>スキルを選択してください</option>
          <optgroup label="展開">
        <option>全身全霊</option>
        <option>円弧のマエストロ</option>
      </select>
  </div>

  <p>
  <button class="button" type="button" onclick="onClick();">結果</button>
  </p>
  <div class="result">
    <p>トータル</p>
    <input type="number"> 
  </div>
</div>
